.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.header {
    margin-top: 170px;
}

.content {
    width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.header h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    /* margin-bottom: 20px; */
}

.header span {
    font-weight: 300;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.446);
}

.content label {
    color: white;
}

.content input {
    color: white;
}

.successMessage {
    font-weight: 400;
    font-size: 18px;
    color: #3bc851;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
